html,
body {
  margin: 0;
  overflow: hidden;
}
*{
	image-rendering: crisp-edges;
}

#menuPanel {
	position: absolute;
	
	/* blur */
	backdrop-filter: blur(5px);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 20;
	display: block;
}

#item_bar{
	max-width: fit-content;
	padding:0;
	position: absolute;
	bottom:25px;
	right:0;
	left:0;
	margin-inline: auto;
	color: white;
	font-size: 16px;
	z-index: 100;
	font-family: 'VCR OSD Mono', monospace;
	/* stroke of 1px */
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	user-select: none;
}
#item_bar > input{

	display:inline-block;
	width: 50px;
	height: 50px;
	padding: 16px 25px;
	outline: 5px ridge yellow;
	appearance: none;
	position: relative;
}
#item_bar > input::before{
	content:'';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
#item_bar > input:nth-of-type(1)::before{
	background: url('./public/wklejek.png') no-repeat center;
	background-size: contain;
}
#item_bar > input:checked{
	outline: 5px ridge orange;
}

#startButton {
	position: absolute;
	top: 51%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* font */
	font-size: 24px;
	z-index: 30;
	border-radius: 10px;
	border: 2px solid white;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	padding: 10px 20px;
	user-select: none;
	/* font */
	font-family: 'VCR OSD Mono', monospace;
	color: whitesmoke;
}

#title{
	position: absolute;
	/* middle of screen */
	top: 41%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #8B8000;
	font-size: 4.25vw;
	z-index: 100;
	font-weight: bold;
	font-family: 'VCR OSD Mono', monospace;
	text-shadow: 
		-2px -2px 0 #fff,  
		2px -2px 0 #333,
		-2px 2px 0 #111,
		2px 2px 0 #222,
		2px 8px 6px rgba(0,0,0,0.2),
		0px -2.5px 85px rgba(255,255,255,0.5),
		0px -5px 130px rgba(255,255,255,0.2);
	user-select: none;
	transition: all 0.1s ease-in-out;
}

#popup {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%), translateY(0px);
    color: white;
    font-size: 0.8vw;
    z-index: 100;
    font-family: 'VCR OSD Mono', monospace;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    user-select: none;
    pointer-events: none;
}

.hide {
	transition: transform 0.4s ease-in, opacity 0.45s ease-in;
    opacity: 0;
    transform: translate(-50%, -50%) translateY(0px);
}

.show {
	transition: transform 0.2s ease-out, opacity 0.15s ease-out;
    opacity: 1;
    transform: translate(-50%, -50%) translateY(-20px);
}

.webgl {
  position: fixed;
  outline: none;
  width: 100%;
  height: 100%;
}

/* Middle of the screen */
#loading-spinner{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);	
	color: white;
	font-size: 1.6vw;
	z-index: 100;
	font-family: 'VCR OSD Mono', monospace;
	/* stroke of 1px */
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

 div:has(> #coordinates){
	padding:0;
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	font-size: 16px;
	z-index: 100;
	font-family: 'VCR OSD Mono', monospace;
	/* stroke of 1px */
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	user-select: none;
}

button:hover {
	filter: brightness(1.35);
}

button:active {
	filter: brightness(0.7);
}

.github{
	transition: all 0.1s ease-in-out;
}

.github:hover{
	filter: brightness(1.2);
	transform: scale(1.05);
}

.github:active{
	filter: brightness(0.7);
	transform: scale(1.025);
}
